@use "../utils/mixins";
/* site page menu*/
.page{
    position: relative;
    &__back::before{
        @include page-btnBack;
    }
}
.banner img{
    @include page-imgBanner;
}
// restaurant name page
.resto-name{
    position: relative;
    @include page-cardMenu;
    h2{
        padding-top: 2rem;
        font-family: "shrikhand", "cursive";
        padding-left: 5%;
        @include heart-animated;
    }
}
// menu proposed by the restaurant
.set-menu{
   background: $background-color; 
   padding-top: 2rem;
   @include block-padding;
   @include page-font;
   display: grid;
   grid-template-columns: 1fr;
   gap: 1rem;
   @media (min-width: $breakpoint){
       grid-template-columns: repeat(3, 1fr);
   }
}
// choice list of dishes
.category{
    display: flex;
    flex-direction: column;
    gap:1rem;
    &__title{
        @include page-font;
        padding-bottom: 5px;
        border-bottom: 3px solid $tertiary;
        width: 40px;
        @include slide;
    }
}
.dish{
    background: $neutralColor;
    display: flex;
    align-items: flex-end; 
    @include text-buble;
    overflow: hidden;
    @include text-anim;
    &:hover {
        .dish__tick{
        margin-right: 0;
    }
    & i{
    @include check-spin;
    }
    }
    &__item{
        padding: $Page-padding;
    }
    &__price{
        margin-left: auto;
        font-weight: 700;
        padding: $Page-padding;
    }
    &__tick{
        @include Page-tick;
    }  
}
// command button
.command{
    background: $light-backg-color;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}