$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$neutralColor: white;
$icone-color:grey;

$background-color: whitesmoke;
$light-backg-color: rgba(244, 240, 240, 0.89);
$shadow: rgb(226, 220, 220);
$dark-shadow: rgba(165,165,165,0.53);

$transparent-citychoice: rgba(223, 213, 213, 0);