/*footer all pages*/
footer{
    background-color: darken($icone-color , 30%);
    color: $neutralColor;
    padding-bottom: 30px;
    h2{
        font-family: "shrikhand" , "cursive";
        font-weight: 100;
        font-size: 18px;
        padding: 1rem;
        @media (min-width: $breakpoint){
            text-align: center;
            font-size: 20px;
        }
    }
    .footer__list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        gap: 5px;
        cursor: pointer;
        @media (min-width: $breakpoint){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 15%;
        }
    }
}