/* location choice of the city*/
.location{
    background-color: $background-color;
    display: flex;
    justify-content: center;
    height: 50px;
    box-shadow: 0px -1px 3px 2px $dark-shadow;
    &_cityChoice{
        border: none;
        background-color: $transparent-citychoice;
        font-size: 14px;
        font-weight: 300;
        color: black;
    }
    &_icone{
        display: flex;
        align-items: center;
        padding-right: 15px;
    }
}