@use "../utils/mixins";

.loader{
    position: fixed;
    @include load-page;
    z-index: 1;
    
}

.logo_shake{      
    &::after { 
        @include loader-logo;
    }
}
.icone_1{
    &::after {
        @include font-awesome5(900);
        content: "\F561";
        @include loader-icone;
    }
}
.icone_2{
    &::after{
        @include font-awesome5(600);
        content: "\f787";
        @include loader-icone(18px, 44%);
        animation-delay: 100ms;
    }
}
.icone_3{
    &::after{
        @include font-awesome5(900);
        content: "\f79f";
        @include loader-icone(22px,40%);
        animation-delay: 150ms;
    }
}
.icone_4{
    &::after{
        @include font-awesome5(900);
        content: "\f0f4";
        @include loader-icone(24px, 48%);
        animation-delay: 200ms;
    }
}
.icone_5{
    &::after{
        @include font-awesome5(900);
        content: "\f5d1";
        @include loader-icone(16px, 54%);
        animation-delay: 250ms;
    }
}
